[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2-binary" = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
djoser = "*"
graphene-django = "*"
django-cors-headers = "*"
django-graphql-social-auth = "*"
django-money = "*"
django-mptt = "*"
channels = "*"
channels-redis = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
pillow = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.7"
